/MyFinace.Modules/bin
/MyFinace.Modules/obj
/MyFinance/bin
/MyFinance/obj
/MyFinance.Utility/obj
/MyFinance.Utility/bin
/MyFinance/.vs
/MyFinance.Model/obj
/Supabase.RestAPI/obj
/Supabase.RestAPI/bin
/MyFinance/.vs
/MyFinance/.vs
/MyFinance.Model/bin
/MyFinance/.vs
/MyFinance/.cr
